# APP CONFIGURATION
  DEBUG=false
  LOG_COLOR=true

# MINECRAFT SERVER CONFIGURATION
  SERVER_HOST=localhost
  SERVER_PORT=25565
  SERVER_VERSION=1.20.1

# DISCORD CONFIGURATION
  DISCORD_TOKEN=
  DISCORD_CHANNEL_ID=


# MINECRAFT BOT CONFIGURATION
  # name of bot as it appears in-game, it is truncated if its longer than 16 characters
  # TODO: add support for loading Nomad-specific name
  BOT_NAME=eu-local-ams-1

  # password to use when connecting to server
  # (leave blank to use offline mode)
  BOT_PASS=

  # port to serve bot web interface on (Fastify)
  BOT_WEB_INTERFACE_PORT=9288
  BOT_WEB_VIEW_PORT=8439
  BOT_WEB_INVENTORY_PORT=9999

# MINECRAFT BOT BEHAVIOR: FOOD and HUNGER
# see https://minecraft.fandom.com/wiki/Hunger
  # options: "foodPoints", "foodLevel"
  BOT_HUNGER_PRIORITY=foodPoints

  # minimum hunger level to eat at, range 0-20
  BOT_HUNGER_THRESHOLD=20

  # comma-separated list of disallowed foods
  BOT_HUNGER_BANNED_FOODS=pufferfish,spider_eye,poisonous_potato,rotten_flesh,suspicious_stew,golden_apple

# MINECRAFT BOT BEHAVIOR: MINING
  # whether to enable mining
  BOT_MINING_ENABLED=true

  # max depth to mine to
  # not used.
  BOT_MINING_DEPTH=10

  # initial block to mine, see https://minecraft.fandom.com/wiki/Category:Natural_blocks
  BOT_MINING_INITIAL_BLOCK=stone
  
  # initial search distance for blocks
  BOT_MINING_SEARCH_DISTANCE=64

  # exact location of chest to deliver mined blocks to
  BOT_MINING_CHEST_LOCATION=18,-60,-90


# MINECRAFT BOT BEHAVIOR: CHAT COMMANDS
 # enable bot to respond via chat
  BOT_CHAT_ALLOW_CHAT=true

  # whether to enable chat commands via game console
  BOT_CHAT_ALLOW_CONSOLE=true

  # prefix to require for chat commands submitted via in-game chat
  BOT_CHAT_COMMAND_PREFIX=#

  # prefix to require for chat commands submitted via game console
  BOT_CHAT_CONSOLE_PREFIX=#

  # comma-separated list of usernames allowed to use chat commands
  # first name in list is considered the primary "operator"
  BOT_CHAT_OPERATOR_ALLOWLIST=Hellific

  # comma-separated list of usernames NOT allowed to use chat commands
  # not used.
  BOT_CHAT_OPERATOR_DENYLIST=

  # the mapped blocks that need to be swapped to match :material_block:
  BOT_MAPPED_BLOCKS=diamond,iron,coal,redstone